.section{
    width: 40%;
}

p{
    background-color: white;
    color: red;
    padding-left: 5px;
    font-size: 15px;
}

.post-container{
    display: flex;
    justify-content: center;
}

.login-signup-container{
    display: flex;
    flex-direction: column;
    width: min-content;
    row-gap: 20px;
    padding: 30px;
}

.icon{
    transform: scale3d(1.5, 1.5, 1.5);
    text-align: center;
    font: bold 60px calibri;
    color: #2478f5a8;
}

.form-input-label{
    font: 18px calibri;
    margin: 15px 2px;
}

.form-input-box{
    padding: 12px 10px;
    width: 264px;
    font: 16px calibri;
    border: 1px solid darkgray;
    border-radius: 5px;
    outline: none;
    color: darkslategray;
}

.submit-button{
    cursor: pointer;
    padding: 5px 15px;
    font: 22px calibri;
    letter-spacing: 0px;
    background-color: black;
    color: white;
    float: right;
    border-radius: 3px;
}

.create-anchor{
    float:right;
}