hr{
    height:6px;
    border: none;
    border-radius:50px;
    background-color:lightgrey;
    z-index:-1;
    }
    
    .bar{
    margin-top:-12px;
    height:6px;
    float:left;
    width: auto;
    background-color:lightgrey;
    border-radius:50px;
    }
    
    .animation-container{
      display: flex;
      flex-direction: column;
    }
    
    
    .flex-basis-hr{
      flex-basis: 31%;
    }
    
    
    .flex{
      display: flex;
      width: 100%;
      font-size: 12px;
      justify-content: center;
    }
    
    .flex-basis{
      flex-basis: 33%;
    }
    
    .flex > div:nth-child(4){
      flex-basis: 25% !important;
    }
    
    .strong-half-animation{
      animation-name: strong-half;
      animation-duration: 0.5s;
      animation-delay: 1s;
      animation-timing-function:cubic-bezier(0,0,0,0);
      animation-fill-mode:forwards;
    }
    
    .strong-full-animation{
      animation-name: strong-full;
      animation-duration: 0.5s;
      animation-delay: 1s;
      animation-timing-function:cubic-bezier(0,0,0,0);
      animation-fill-mode:forwards;
    }
    
    @keyframes strong-half {
      from {
        width: 0%;
        background-color:#00ff00b0;
      }
      to {
        width: 50%;
        background-color: #00ff00b0;
      }
    }
    
    @keyframes strong-full {
      0% {
        width: 0%;
        background-color: #00ff00b0;
      }
      50% {
        width: 50%;
        background-color:#00ff00b0;
      }
      100%{
        width: 100%;
        background-color:red;
      }
    }
    
    
    
    
    .good-half-animation{
      animation-name: good-half;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-timing-function:cubic-bezier(0,0,0,0);
      animation-fill-mode:forwards;
    }
    
    .good-full-animation{
      animation-name: good-full;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-timing-function:cubic-bezier(0,0,0,0);
      animation-fill-mode:forwards;
    }
    
    @keyframes good-half {
      from {
        width: 0%;
        background-color:skyblue;
      }
      to {
        width: 50%;
        background-color: skyblue;
      }
    }
    
    @keyframes good-full {
      0% {
        width: 0%;
        background-color: skyblue;
      }
      50% {
        width: 50%;
        background-color:skyblue;
      }
      100%{
        width: 100%;
        background-color:#00ff00b0;
      }
    }
    
    
    .weak-half-animation{
      animation-name: weak-half;
      animation-duration: 0.5s;
      animation-timing-function:cubic-bezier(0,0,0,0);
      animation-fill-mode:forwards;
    }
    
    .weak-full-animation{
      animation-name: weak-full;
      animation-duration: 0.5s;
      animation-timing-function:cubic-bezier(0,0,0,0);
      animation-fill-mode:forwards;
    }
    
    @keyframes weak-half {
      from {
        width: 0%;
        background-color: orange;
      }
      to {
        width: 50%;
        background-color: orange;
      }
    }
    
    @keyframes weak-full {
      0% {
        width: 0%;
        background-color: orange;
      }
      50% {
        width: 50%;
        background-color:orange;
      }
      100%{
        width: 100%;
        background-color:skyblue;
      }
    }